#header {
	width: 100%;
	background-color: black;
	border-bottom: 2px solid white;
}

#name {
	font-size: 30px;
	padding-top: 20px;
	padding-left: 10%;
	padding-bottom: 20px;
	color: white;
	font-family: cursive;
}

#content {
	width: 100%;
	background-color: black;
	border-bottom: 4px solid white;
}

#caption {
	font-size: 20px;
	padding-top: 20px;
	color: white;
	font-family: cursive;
	text-align: center;
	padding-bottom: 20px;
}

#box_image {
	width: 100%;
}

#image {
	width: 100%;
	padding-top: 5px;
	padding-left: 5%;
	padding-right: 5%;
}

#technologie {
	width: 100%;
	background-color: white;
	border-bottom: 4px solid white;
}

#t_text {
	font-size: 25px;
	padding-top: 10px;
	color: black;
	font-family: cursive;
	text-align: center;
	padding-bottom: 10px;
}

#t_image {
	vertical-align: center;
}

#go {
	font-size: 25px;
	padding-top: 30px;
	padding-bottom: 30px;
	color: white;
	font-family: cursive;
	text-align: center;
	width: 100%;
	background-color: black;
}

.center {
	background-color: black;
	width: 100%;
}

.form-input {
	padding-left: 20%;
	padding-right: 20%;
	width: 100%;
}

.form-input input {
	display:none;
}

.form-input label {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;

}

.form-input img {
	width: 100%;
	padding-left: 20%;
	padding-right: 20%;
	border: 1px solid white;
	background-color: white;
	cursor: pointer;
}

.imgRemove{
	background-color: transparent;
	border: none;
	font-size: 30px;
	outline: none;
	padding-top: 10px;
	padding-bottom: 10px;
}

.imgRemove::after{
	content: ' \21BA';
	color: #fff;
	font-weight: 900;
	border-radius: 8px;
	cursor: pointer;
}

#submit {
	font-size: 25px;
	color: white;
	font-family: cursive;
	text-align: center;
	background-color: transparent;
	border: none;
}

#submit:hover {
	cursor: pointer;
}

#footer {
	width: 100%;
	background-color: white;
}

#info {
	font-size: 15px;
	color: black;
	font-family: cursive;
	text-align: center;
}

#answer {
    font-size: 15px;
	color: white;
	font-family: cursive;
	text-align: center;
}